.center {
    position: relative;
    text-align: center;
	margin: auto;
}
.block * {
    display: inline-block;
}
.bottom *{
    position: relative;
    bottom: 0px !important;
}
.top *{
    position: relative;
    top: 0px !important;
}

.divider {
    background-color: white;
    padding: 0px !important;
    border: none !important;
}
.horizontal.divider {
    width: 98%;
    height: 2px;
    margin: auto;
}
.vertical.divider {
    height: 98%;
    width: 2px;
    margin: auto;
}